<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MDB in ASP.NET</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    <!--md bootstrap additions begin-->
    <!-- Font Awesome -->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">-->
    <!-- Bootstrap core CSS -->
    <!--<link href="~/Content/bootstrap.css" rel="stylesheet">-->
    <!-- Material Design Bootstrap -->
    <!--<link href="~/Content/mdb.min.css" rel="stylesheet">-->
    <!-- MDBootstrap Datatables  -->
    <!--<link href="~/Content/MDBootstrap/css/addons/datatables.min.css" rel="stylesheet">-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    @*<script src="~/Scripts/printThis.js"></script>*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>*@

    @*BEGIN FONT AWESOME, USED FOR ICONS*@
    @*<link href="~/Content/font-awesome.css" rel="stylesheet" />*@
    @*<script src="https://use.fontawesome.com/dd3ce81488.js"></script>*@
    <link href="~/Content/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@
    @*END FONT AWESOME, USED FOR ICONS*@

    @*BEGIN DATATABLES.NET*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    @*END DATATABLES.NET*@

    @*BEGIN JQUERY CONFIRM PLUGIN*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    @*END JQUERY CONFIRM PLUGIN*@

    @*BEGIN JQUERY LoadingOverlay PLUGIN*@
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    @*END JQUERY LoadingOverlay PLUGIN*@

</head>
<body style="margin:0px">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark primary-color">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Navbar brand -->              
                <li class="nav-item">
                    <a class="nav-link" href="/SalesLanding">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="SalesCustomer?customerCode=%">All Equipment Sales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/machinesW_kitsAvlbl_BnotInstalled">All Opportunity Sales</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Customers</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/customerMgmt">Customer Management</a>
                        <a class="dropdown-item" href="/CustomerEqpmtMgmt">Customer Equipment</a>
                        <a class="dropdown-item" href="/customerEvent">Customer Events</a>
                        <a class="dropdown-item" href="/EventType">Customer Event Types</a>
                    </div>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Equipment</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/EqpmtTypeMgmt">Equipment Type Management</a>
                        <a class="dropdown-item" href="/EqpmtMgmt">Equipment Management</a>
                        @*<a class="dropdown-item" href="/CurrentEqpmtKits">Current Eqpmt Kits</a>*@
                    </div>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Kits</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/KitMgmt">Kit Management</a>
                        <a class="dropdown-item" href="/KitsAvlblMgmt">Kits Available</a>
                    </div>
                </li>

                <li class="nav-item " onclick="window.print()">
                    <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Print Page</a>
                </li>
            </ul>          
            @*@Html.Partial("_LoginPartial")*@
        </div>
    </nav>

    @*<div class="container body-content">*@
<div class="container-fluid">
    @RenderBody()
    <footer>
        <div  >            
        </div>
    </footer>
</div>

 <!-- jQuery -->
    <!--<script type="text/javascript" src="~/Content/MDBootstrap/js/jquery.min.js"></script>-->
    <!-- Bootstrap tooltips -->
    <!--<script type="text/javascript" src="~/Content/MDBootstrap/js/popper.min.js"></script>-->
    <!-- Bootstrap core JavaScript -->
    <!--<script type="text/javascript" src="~/Content/MDBootstrap/js/bootstrap.min.js"></script>-->
    <!-- MDB core JavaScript -->
    <!--<script type="text/javascript" src="~/Content/MDBootstrap/js/mdb.min.js"></script>-->
    <!-- Your custom scripts (optional) -->
    <!--<script type="text/javascript"></script>-->
    <!-- MDBootstrap Datatables  -->
    <!--<script type="text/javascript" src="~/Content/MDBootstrap/js/addons/datatables.min.js"></script>-->   
</body>
</html>