@model IEnumerable<allpax_sale_miner.Models.tbl_eqpmt_kits_current>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
            $(document).ready(function () {//begin document read jquery statements

                //begin when a record class is clicked...
                $(".record").click(function () {
                    /*var selectedItem0 = $(this).attr("id");//works
                    var selectedItem1 = $(this).find("#record_item1").html();//works valid for inner html only
                    var selectedItem2 = $(this).find("#record_item2").html();//works valid for inner html only*/

                    selectedItem0 = $(this).attr("id");//works
                    selectedItem1 = $(this).find("#record_item1").html();//works valid for inner html only
                    selectedItem2 = $(this).find("#record_item2").html();//works valid for inner html only
                   


                    $("#slctd_id").val(selectedItem0);
                    $("#slctd_machineID").val(selectedItem1);
                    $("#slctd_kitID").val(selectedItem2);
                
                });
                //end when a record class is clicked...

                $(".btn.btn-primary.editButton").click(function () {//when a record's edit button is clicked...
                    $(this).parent().find(".editButton").hide();
                    $(this).parent().find(".updateButton").show();
                    $(this).parent().find(".deleteButton").hide();
                    $(this).parent().find(".cancelButton").show();

                    $(this).parent().find("#record_item1").hide();
                });
                $(".btn.btn-primary.cancelButton").click(function () {//when a record's edit button is clicked...
                    $(this).parent().find(".editButton").show();
                    $(this).parent().find(".updateButton").hide();
                    $(this).parent().find(".deleteButton").show();
                    $(this).parent().find(".cancelButton").hide();
                    $(this).parent().find(".confirmButton").hide();
                });
                $(".btn.btn-primary.deleteButton").click(function () {//when a record's edit button is clicked...
                    $(this).parent().find(".editButton").hide();
                    $(this).parent().find(".updateButton").hide();
                    $(this).parent().find(".deleteButton").hide();
                    $(this).parent().find(".cancelButton").show();
                    $(this).parent().find(".confirmButton").show();
                });

                //begin #addButton
                $("#addButton").click(function () {//when the add button is clicked...
                    var addItem1 = $("#addRecordItem1").val();
                    var addItem2 = $("#addRecordItem2").val();
                   

                    alert(
                        "Selected for Add POST:" + '\n' +
                        "addItem1: " + addItem1 + '\n' +
                        "addItem2: " + addItem2 + '\n' 
                       
                    );
                    $("#addRecordItem1").val('');
                    $("#addRecordItem2").val('');
                  
                    //begin axios add post

                    axios.post('/CurrentEqpmtKits/AddCurrentEqpmt', {
                        machineID: addItem1,
                        kitID: addItem2,
                      
                    })
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                    //end axios add post
                });
                //end #addButton

                //begin confirm edit record
                $(".btn.btn-primary.updateButton").click(function () {//when a record's edit button is clicked...
                    $(this).hide();
                    $(this).parent().find(".updateButton").show();
                    $(this).parent().find(".deleteButton").hide();
                    $(this).parent().find(".cancelButton").show();
                });
                //end confirm edit record

    //begin axios confirm delete record
    $(".btn.btn-primary.confirmButton").click(function () {//when a record's delete button is clicked...
        alert(
            "Selected for DELETE:"+ '\n' +
            "id: " + selectedItem0 + '\n' +
            "machineID: " + selectedItem1 + '\n' +
            "kitID: " + selectedItem2 + '\n' 
          
        );

        axios.post('/CurrentEqpmtKits/DeleteCurrentEqpmt', {
                id: selectedItem0
            })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });

                });
                //end axios confirm delete record


            });//end document read jquery statements
    </script>
</head>
<style>
    div.scroll {
        width: auto;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0px;
    }
    div.row {
        width: auto;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0px;
    }
    .form-group {
  margin: 5px;
}
</style>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Current Equipment Kits</h4>
            <form class="form-inline">
                    <div class="form-group">
                        <label for="addRecordItem1">Machine ID</label>
                        <input type="text" class="form-control" id="addRecordItem1" placeholder="Machine ID" value="">
                    </div>
                    <div class="form-group">
                        <label for="addRecordItem2">Kit ID</label>
                        <input type="text" class="form-control" id="addRecordItem2" placeholder="Kit ID" value="">
                    </div>
                        <button type="submit" class="btn btn-primary" id="addButton">Add</button>
            </form><hr>
        </div>
    </div>

    <div class="scroll">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="record" id=@Html.DisplayFor(modelItem => item.id) style="border: 1px solid black; padding-bottom:5px;">
                    <div class="col-md-1" id="yo">
                        <h6>ID</h6>
                        <p id="record_item0" value=@Html.DisplayFor(modelItem => item.id)>@Html.DisplayFor(modelItem => item.id)</p>
                    </div>
                    <div class="col-md-1 record_item1" id="record_item1_div">
                        <h5>MACHINE ID</h5>
                        <!--<input type="text" id="record_item1" value=@Html.DisplayFor(modelItem => item.machineID)>-->
                        <p id="record_item1" value=@Html.DisplayFor(modelItem => item.machineID)>@Html.DisplayFor(modelItem => item.machineID)</p>
                    </div>
                    <div class="col-md-2">
                        <h5>KIT ID</h5>
                        <!--<input type="text" id="record_item2" value=@Html.DisplayFor(modelItem => item.kitID)>-->
                        <p id="record_item2" value=@Html.DisplayFor(modelItem => item.kitID)>@Html.DisplayFor(modelItem => item.kitID)</p>
                    </div>
                    <div class="col-md-auto">
                        <h5>Action</h5>
                        <button class="btn btn-primary btn-sm editButton">Edit</button>
                        <button class="btn btn-primary btn-sm updateButton" style="display:none;">Update</button>
                        <button class="btn btn-primary btn-sm deleteButton">Delete</button>
                        <button class="btn btn-primary btn-sm confirmButton" style="display:none;">Confirm</button>
                        <button class="btn btn-primary btn-sm cancelButton" style="display:none;">Cancel</button>
                    </div>

                </div>
            </div>
        }
    </div>
    <!--click event begin-->
    <div>
        <div class="row">
            <div class="col-md-1">ID: <input type="text" id="slctd_id" value="slctd_id"></div>
            <div class="col-md-2">MACHINE ID: <input type="text" id="slctd_machineID" value="slctd_machineID"></div>
            <div class="col-md-2">KIT ID: <input type="text" id="slctd_kitID" value="slctd_kitID"></div>
        </div>
    </div>
    <!--click event end-->
</div>
